:root,
:root.light {
   --bg-color: #eaeaea;
   --text-color: #31383f;
   --header-bg-color: #e4e5e1;
   --game-button-bg-color: #a4a8ab;
   --game-button-hover-bg-color: #8a8c8e;
}

:root.dark {
   --bg-color: #222222;
   --text-color: #dcdcdc;
   --header-bg-color: #120e0b;
   --game-button-bg-color: #33383c;
   --game-button-hover-bg-color: #2e3032;
}

*,
*:after,
*:before,
body {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   max-height: 100vh;
   background-color: var(--bg-color) !important;
   color: var(--text-color) !important;
   overflow: hidden;
}

.theme-wrapper {
   background-color: inherit !important;
}

select {
   margin: 0 1em 0 1em;
   padding: 0.25rem 0.75rem;
   font-size: 1.25rem;
   font-family: inherit;
   border-radius: 0.25rem;
   background-color: inherit !important;
   font-family: 'FontAwesome', 'sans-serif';
}

.menu {
   padding: 0.5em;
   display: flex;
   justify-content: space-between;
   background-color: inherit !important;
   div {
      margin: 0.5em;
      background-color: inherit !important;
      counter-reset: var(--text-color);
   }
}

.header-container {
   color: var(--text-color);
   background-color: var(--header-bg-color) !important;
   padding: 4vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);

}

.header {
   display: flex;
   h1 {
      font-family: "Press Start 2P", monospace;
      color: #e2941d !important;
      background-color: var(--header-bg-color) !important;
   }
}

main {
   display: flex;
   justify-content: center;
   text-align: center;
   min-height: 66.5vh;
   font-family: "Roboto Mono", monospace;
   margin-top: 4.25vh;
   .announce-area {
      h2 {
         font-size: 2.75em;
      }
      p {
         font-size: 1.25em;
         margin-bottom: 7vh;
      }
   }
   .hands {
      display: flex;
      justify-content: space-around;
      // margin: 0 5vw;
      font-size: 3em;
      margin-top: 5px;
   }
   .individual-scores {
      display: flex;
      justify-content: space-around;
      margin-bottom: 5vh;
   }
   .buttons {
      display: flex;
      justify-content: center;
      background-color: inherit;
      gap: 25px;
      button {
         padding: 25px;
         font-size: 5em;
         width: 150px;
         height: 150px;
         cursor: pointer;
         border: none;
         background-color:  var(--game-button-bg-color)!important;
         border-radius: 10px;
         &:hover {
            background-color: var(--game-button-hover-bg-color) !important;
         }
      }
   }
}
footer {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--header-bg-color) !important;
   padding: 1.71vh;
   margin-top: 2vh;
   box-shadow: 1px 5px 10px 5px rgba(0,0,0,0.5);

   .credit {
      background-color: inherit !important;
   }
   a {
      background-color: inherit !important;
      text-decoration: none;
      font-weight: bold;
   }
}

/* --------- MEDIA QUERIES --------- */

@media (prefers-color-scheme: dark) {
   :root {
      --bg-color: #222222;
      --text-color: #dcdcdc;
      --header-bg-color: #120e0b;
      --game-button-bg-color: #33383c;
      --game-button-hover-bg-color: #2e3032;
   }
}

@media (max-width: 969px) {
   .heading {
      h1 {
         font-size: 1.5em;
      }
   }
}

@media (max-width: 820px) {
   .heading {
      h1 {
         font-size: 1em;
      }
      select {
         margin: 0px;
         padding: 0px;
         max-width: 72px;
         font-size: 1em;
      }
      .date {
         font-size: 0.7em;
      }
   }
   main {

      .buttons {
         
         button {
            font-size: 3em;
            height: 125px;
            width: 125px;
            padding: 12px
         }
      }
   }
}

@media (max-width: 666px) {
   .heading {
      font-size: 0.7em;
   }
   .date {
      font-size: 0.5em;
   }
   select {
      font-size: 0.7em;
      margin: 0;
      padding: 0;
   }
}

@media (max-width: 415px) {
   .menu {
      display: none;
   }
}
